a {
    text-decoration: none;
    color: black;
}

#cartão {
    background-image: url(/img/backgorund.png);
    background-size: cover;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    padding: 25px;
    padding-top: 30px;
    font-size: 25px;
    width: 400px;
    height: 200px;
    margin: auto;
    box-shadow: 5px 5px 9px rgba(0, 0, 0, 0.3);
}

#list {
    font-size: 20px;
}

#insta {
    list-style-image: url(/img/icons8-instagram-24.png);
    text-transform: uppercase;
}

#GitHub {
    list-style-image: url(/img/Github.png);
    text-transform: uppercase;
}

#LinkedIn {
    list-style-image: url(/img/icons8-linkedin-30.png);
    text-transform: uppercase;
}